[package]
name = "ztunnel"
version = "0.0.0"
edition = "2021"
rust-version = "1.64"

[features]
default = []
gperftools = ["dep:gperftools"]
console = ["dep:console-subscriber"]

[[bin]]
name = "ztunnel"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.65"
async-stream = "0.3.3"
async-trait = "0.1.58"
boring = { version = "2.1.0", features = ['fips'] }
bytes = { version = "1", features=["serde"]}
console-subscriber = { version = "0.1.6" , optional = true}
drain = "0.1.1"
futures = "0.3.12"
futures-util = "0.3.21"
gperftools = { version = "0.2.0", features = ["heap"], optional = true }
hyper = { version = "0.14.18", features = ["full"] }
hyper-boring = { version= "2.1.2", features = ['fips'] }
lazy_static = "1.4.0"
libc = "0.2.126"
log = "0.4"
num_cpus = "1.13.1"
pprof = { version = "0.10.1", features = ["protobuf", "protobuf-codec"] }
prost = "0.11"
prost-types = "0.11.1"
rand = "0.8.5"
serde = { version = "1.0.144", features = ["derive", "rc"] }
serde_json = "1.0.85"
serde_yaml = "0.9.13"
thiserror = "1.0.34"
#tikv-jemallocator = { version = "0.5", features = ["profiling", "stats"]}
tls-listener = { version  = "0.5.1", features = ["hyper-h2"] }
tokio = {"version"= "1", features=["full"]}
tokio-boring = { version = "2.1.5", features = ['fips'] }
tokio-stream = "0.1.9"
tonic = "0.8"
tower = { version = "0.4.12", features = ["full"] }
tracing = "0.1.34"
tracing-subscriber = { version = "0.3.11" , features = ["registry", "env-filter"]}
tryhard = "0.5.0"

[build-dependencies]
tonic-build = "0.8"
prost-build = "0.11"
anyhow = "1.0.65"

[profile.release]
opt-level = 3
codegen-units = 1
lto = true
#debug = true
