[package]
name = "ztunnel"
version = "0.0.0"
edition = "2021"
rust-version = "1.64"

[features]
default = []
gperftools = ["dep:gperftools"]
console = ["dep:console-subscriber"]

[[bin]]
name = "ztunnel"
path = "src/main.rs"

[dependencies]
#tikv-jemallocator = { version = "0.5", features = ["profiling", "stats"]}
futures = "0.3.12"
hyper = { version = "0.14.18", features = ["full"] }
tokio = {"version"= "1", features=["full"]}
bytes = "1"
log = "0.4"
tower = { version = "0.4.12", features = ["full"] }
libc = "0.2.126"
futures-util = "0.3.21"
tracing = "0.1.34"
tracing-subscriber = { version = "0.3.11" , features = ["registry", "env-filter"]}
tonic = "0.8"
prost = "0.11"
prost-types = "0.11.1"
tokio-stream = "0.1.9"
console-subscriber = { version = "0.1.6" , optional = true}
async-stream = "0.3.3"
tls-listener = { version  = "0.5.1", features = ["hyper-h2"] }
thiserror = "1.0.34"
lazy_static = "1.4.0"
pprof = { version = "0.10.1", features = ["protobuf", "protobuf-codec"] }
gperftools = { version = "0.2.0", features = ["heap"], optional = true }
serde = { version = "1.0.144", features = ["derive"] }
serde_json = "1.0.85"
tryhard = "0.5.0"
num_cpus = "1.13.1"
boring = { version = "2.1.0", features = ['fips'] }
tokio-boring = { version = "2.1.5", features = ['fips'] }
hyper-boring = { version= "2.1.2", features = ['fips'] }
anyhow = "1.0.65"
serde_yaml = "0.9.13"

[build-dependencies]
tonic-build = "0.8"
prost-build = "0.11"
anyhow = "1.0.65"

[profile.release]
opt-level = 3
codegen-units = 1
lto = true
#debug = true
